
.slOverRide {
    z-index: 10;
    margin: auto;
    margin-top: 25px;
    padding: 25px;
    width: 300px;
    height: auto;
    background-color: white;
    border-radius: 5px;
    border-color: #2665C4;
    border-style: solid;
    border-width: 3px;
}